@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}
html{
    font-size: 22px;
}
body{
    background-color: #353b48;
    padding: 1rem;
}
h4{
    display: none;
}
.box{
    height: 8rem;
    width: 10rem;
    border: 0.5rem solid white;
    border-radius: 3px;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;  
    transition: 1s ease;

}
.box img:hover{
    transform-origin: center;
    transform: scale(1.3);
}
.container{
    user-select: none;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.control{
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

.btn-group button{
    width: 100px;
    height: 30px;
    border: none;
    font-size: 0.7rem;
    background-color: #00b894;
    color: white;
    border:2px solid #00b894;
    cursor: pointer;
    border-radius: 2px;
}
.btn-group button:hover,
.btn-group .btn-clicked{
    background-color: #353b48;
}

#search{
    width: 200px;
    height: 30px;
    outline: none;
    border: 3px solid #00b894;
    border-radius: 3px;
    padding: 0px 10px;
    font-size: 0.6rem;
}
.button{
  display: none;
  width: 1.3rem;
  height: 30px;
  background-color: #353b48;
}
.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(150, 150, 150, 0.5);
  display: none;
  z-index: 8;
}
.modal-active{
  display: grid;
  place-items: center;
}
.modal #img{
  max-width: 60%;
  max-height: 40%;
  border: 4px solid white;
  box-shadow: 1px 3px 20px rgba(0,0,0,0.5);
}
@media(max-width:580px){
    .control{
        display: flex;
    }
    .btn-group{
        position: absolute;
        top: 33px;
        right: 0;
        display: flex;
        flex-direction: column;
        display: none;
        border-radius: 3px;
    }
  .container{
    gap: 10px;
    max-width: 580px;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr)); 
  }

  .box{
    width: 100%;
    height: 50px;
    border: 3px solid white;
  }
  .button {
    display: block;
    border: none;
  }
  .button{
    position: absolute;
    top: 3px;
    right: 3px;
  }
  .button::before,
  .button .bar,
  .button::after
  {
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    background-color: white;
    margin: 5px 0px;
  }
  .bar-active{
    display: flex;
  }
  h4{
    display: block;
    color: #00b894;
}
.btn-group button{
  border-radius: 0;
}
}